.content{
    width: 65%;
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.container{
    display: flex;
}

.nav_body {
    box-sizing: border-box;
    background: white;
    width: 17%;
    padding: 20px 20px 0 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

  }